/* ヘッダー */
.navigation {
    width: 100%;
    height: 60px;
    background-color: #224B8F;
    padding-top: 15px;
    box-sizing: border-box;
  }
  .navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
  }
  .navigation li {
    margin-right: 55px;
  }
  .navigation a {
    color: #fff;
    text-decoration: none;
  }

  /* 画像 */
  .title {
  }
  img {
    width: 100px;
    height: 100px;
  }