<!DOCTYPE html>
{% load static %}

<html lang="ja" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>My Portpholit : about page</title>
        <link rel="stylesheet" href="{% static 'css/about.css' %}"/>
    </head>

    <body>
        <header class="header">
            <nav class="navigation">
                <ul>
                    <li><a href="../">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="../contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        <h1 class="title">About me</h1>
        <div class="content_aboutme">
            <p>Universiry : 東洋大学 情報連携学部 3年 市村衣未<br>
                Major : 専攻 : コンピュータサイエンス、特にHCI分野に興味あり<br>
                Keywords : Computer * 異文化 * マイノリティー<br>
            </p>
        </div>
        <h1 class="title">What to do in university life</h1>
        <div class="contents_container">
            <div class="content_experience">
                <h3>Waffle</h3>
                <p>Position : 長期インターン<br>
                    Period : 大学3年次 ~ 現在<br>
                    Works : STEMのジェンダーマイノリティが集う<a href="https://www.college.waffle-waffle.org/">Waffle College</a> の運営<br>
                    コミュニティ形成や各種イベントの企画・立案・実行と多岐に渡り担当しています。
                    また夏休みに行われた<a href="https://www.camp.waffle-waffle.org/">Waffle camp</a>では講師として北海道、三重県の中高生にWebサイト制作を教えました。
                </p>
            </div>
            <div class="content_experience">
                <h3>Techkids school</h3>
                <p>Position : アルバイト<br>
                    Period : 大学3年次 ~ 現在<br>
                    Works : メンターとして小中学生にSwiftの教育、大学・大学院生メンターへの教育研修<br>
                    各生徒に応じて本人の楽しさ、成長特性に応じた自己開発のサポートを行っています。
                    また年間約60~70名程度の学生メンターの研修を担当し組織の運営にも携わっています。
                </p>
            </div>
            <div class="content_experience">
                <h3>Toyo GemStone</h3>
                <p>Position : 学生団体<br>
                    Period : 大学2年次 ~ 現在<br>
                    Doing : 東洋大学の国際化促進を目的にイベント開催、留学生の手助けを行っています。<br>
                    2年次には<a href="https://ja.tiff-toyo.com/">東洋国際映画祭</a>のWebサイト制作、YouTubeのライブ配信を担当し技術面からイベントの成功に貢献しました。<br>
                    3年次には韓国人留学生の3+1プログラムのパートナーとして日常生活の手助けを続けています。
                </p>
            </div>
            <br>
            <div class="content_experience">
                <h3>NAVITIME</h3>
                <p>Position : サマーインターン<br>
                    Period : 大学3年次 3日間<br>
                    Works : NAVITIME APIを用いた地図表示Webサイト制作<br>
                    HTML, CSS, jQueryを用いてWebサイトの開発
                </p>
            </div>
            <br>
            <div class="content_experience">
                <h3>サポーターズ主催"はじめてのハッカソン"</h3>
                <p>Position : Developer
                    Period : 大学3年次 2日間<br>
                    Works : 本共有Webアプリ制作<br>
                    Python, HTML, CSS, SQLite, Djangoを用いてユーザ属性ごとに本を共有できるWebアプリを開発しました。
                </p>
            </div>
        </div>
    </body>
</html>


