<!DOCTYPE html>
{% load static %}

<html lang="ja" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>My Portpholit</title>
        <link rel="stylesheet" href="{% static 'css/contact.css' %}"/>
    </head>

    <body>
        <header class="header">
            <nav class="navigation">
                <ul>
                    <li><a href="../">Home</a></li>
                    <li><a href="../about">About</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
        </header>
        <p>
            ご覧いただきありがとうございます
            <br>
            以下よりお気軽にご連絡ください！
        </p>
        <div class="contact">
            <div class="contact_experience">
                <h2 class="title">Email</h2>
            
                <!-- <img src="{% static 'img/icon_mail.png' %}"> -->
                <script type="text/javascript">
                    <!--
                    function converter(M){
                    var str="", str_as="";
                    for(var i=0;i<M.length;i++){
                    str_as = M.charCodeAt(i);
                    str += String.fromCharCode(str_as + 1);
                    }
                    return str;
                    }
                    function mail_to(k_1,k_2)
                    {eval(String.fromCharCode(108,111,99,97,116,105,111,110,46,104,114,101,102,32,
                    61,32,39,109,97,105,108,116,111,58) 
                    + escape(k_1) + 
                    converter(String.fromCharCode(104,98,103,104,108,116,113,96,45,100,108,104,47,54,47,52,63,102,108,96,104,107,45,98,110,108,
                    62,114,116,97,105,100,98,115,60)) 
                    + escape(k_2) + "'");} 
                    document.write('<a href=JavaScript:mail_to("","")><img src="{% static 'img/icon_mail.png' %}"><\/a>');
                    //-->
                    </script>
            </div>
            <div class="contact_experience">
                <h2 class="title">GitHub</h2>
                <a href="https://github.com/Emi-Bassy"><img src="{% static 'img/icon_github.png' %}"></a>
            </div>
            <div class="contact_experience">
                <h2 class="title">Linkedin</h2>
                <a href="https://www.linkedin.com/in/emi-ichimura/"><img src="{% static 'img/icon_linkedin.png' %}"></a>
            </div>  
        </div>
    </body>
</html>


